html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

#container3D {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: block;
  position: relative;
}

#container {
  width: 80%;
  height: 85%;
}

#tweakContainer {
  width: 360px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}